@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Oswald:wght@500&family=Raleway:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    font-size: 100%;
}

::selection {
    background-color: pink;
    color: white;
}

#navbar {
    margin: 0;
    padding: 0;
    background-color: black;
    border-bottom: solid 0.5px rgb(44, 44, 44);
    list-style-type: none;
}

.navLinks {
    display: inline;
    text-align: center;
}

.navLinks a {
    display: inline-block;
    padding: 11.5px;
    background-color: black;
    text-decoration: none;
    text-align: center;
    font-size: 1.15rem;
    font-family: "Oswald", arial, sans-serif;
    color: #B6BFBF;
}

.navLinks a:hover {
    color: white;
}

#bannerImg {
    padding: 40px;
    background-color: black;
}

#post {
    width: 70%;
    margin-left: 27%;
    padding: 20px;
}

#categories {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(233, 231, 231);
    font-family: "Oswald", Arial, sans-serif;
    font-weight: bolder;
    font-size: 1.1em;
    color: rgb(180, 180, 180);
}

#categories a {
    text-decoration: none;
    color: rgb(180, 180, 180);
}

#categories a:hover {
    color: rgb(61, 61, 61);
}

#postTitle {
    margin-bottom: 10px;
    letter-spacing: -2px;
    line-height: 1.3em;
    font-size: 2.8em;
    color: rgb(61, 61, 61);
    font-family: "Lato", arial, sans-serif;
}

#date {
    margin-bottom: 40px;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 1em;
    color: rgb(180, 180, 180);
}

article img {
    padding-bottom: 30px;
    border-bottom: 2px solid rgb(233, 231, 231);
    max-width: 100%;
}

article p {
    margin-top: 25px;
    text-align: left;
    line-height: 30px;
    font-family: "Raleway", arial, sans-serif;
    color: #666;
    font-size: 1.25em;
}

.boldText {
    font-weight: bolder;
}

.mediaTitle {
    padding: 30px 0px;
    margin: 30px 0px;
    border-top: 2px solid rgb(233, 231, 231);
    border-bottom: 2px solid rgb(233, 231, 231);
    font-family: "Oswald", Arial, sans-serif;
    font-size: 2em;
    font-weight: lighter;
    color:rgb(61, 61, 61);
}

#videos iframe {
    display: block;
    width: 100%;
}

#imgs img {
    margin: 10px 0px;
    max-width: 100%;
}

#socialButtons {
    width: 70%;
    margin-left: 27%;
    padding: 10px;
    padding-bottom: 50px;
    font-family: "Oswald", Arial, sans-serif;
    color: rgb(61, 61, 61);
}

#socialButtons h3 {
    width: 5%;
    padding: 10px 0px 20px;
    border-top: 2px solid rgb(233, 231, 231);
    font-size: 0.7em;
}

.fa {
    padding: 10px;
    width: 15px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
}

.fa:hover{
    opacity: 50%;
}

.fa-twitter {
    background: #27baf5;
    color: white;
}

.fa-facebook {
    background: #32539b;
    color: white;
}

.fa-google {
    background: #f0422b;
    color: white;
}

#relatedNotes {
    width: 70%;
    margin-left: 27%;
    padding-bottom: 80px;
    font-family: "Lato", Arial, sans-serif;
    color: rgb(61, 61, 61);
}

#relatedNotes h3 {
    display: inline-block;
    padding: 10px 0px 20px;
    border-top: 2px solid rgb(233, 231, 231);
    font-size: 0.7em;
}

.relatedNotes {
    list-style: none;
}

.relatedLinks {
    display: inline-block;
    width: 30%;
}

.relatedLinks a {
    text-align: left;
    color: pink;
    font-size: 0.8em;
}

.relatedLinks time {
    color:rgb(180, 180, 180);
    font-size: 0.9em;
    font-family: "Raleway", Arial, sans-serif;
}

.relatedLinks p {
    max-width: 95%;
}

.relatedLinks img {
    opacity: 50%;
}

.relatedLinks img:hover {
    opacity: 100%;
}

.relatedLinks p:hover {
    color: rgb(61, 61, 61);
}

#tags {
    width: 70%;
    margin-left: 27%;
    padding-bottom: 50px;
    font-family: "Raleway", Arial, sans-serif;
}

.tags {
    margin: 3px;
    padding: 5px;
    border-radius: 10%;
    background-color:rgb(233, 231, 231);
    text-decoration: none;
    font-size: 0.9em;
    color: rgb(61, 61, 61);
}

.tags:hover {
    background-color: pink;
    color: white;
}

.linkToProblem07 {
    margin: 100px auto 50px;
    padding: 40px;
    width: 10%;
    border-radius: 20%;
    background-color: pink;
    text-align: center;
}

.linkToProblem07 a {
    text-decoration: none;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 12px;
    font-weight: bolder;
    color: black;
}

.linkToProblem07:hover {
    background-color: rgb(245, 101, 125);
}

footer {
    height: 10px;
    padding: 50px;
    background-color: black;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 1em;
    line-height: 1px;
    color:rgb(180, 180, 180);
}

#socialFooter {
    float: right;
}

.footerBtn {
    background-color: black;
    color: rgb(44, 44, 44);
    border-radius: 0;
    padding: 0px 5px;
    font-size: 20px;
    width: 17.6px;
}

.footerBtn:hover{
    color: white;

}